<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
    {% block css %}

    {% endblock %}

    <title>{% block title %}Global Support Tool{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href='/redirects'><b> Global Support Tool</b></a>
        <ul class="navbar-nav">
            <li class="nav-item-active">
                <a class="nav-link" href="{{ url_for('view')}}"> SR view </a>
                <a class="nav-link" href="/template"> Template </a>
                <a class="nav-link" href="#"> Problem List </a>
            </li>
        </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>