{% extends 'base.html' %}
{% block title %}SR View{% endblock %}

{% block content %}
<h1>{{ name }} SR View</h1>
<table class="sr-table">
    <thread>
        <tr>
            <th>#</th>
            <th>SR Number</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Substatus</th>
            <th>idel</th>
        </tr>
    </thread>
    <tbody>
        {% for sr in lists %}
        <tr>
            <td>{{ sr.id }}</td>
            <!-- <a href="{{ url_for('sr_page', sr_id='')}}{{ sr[1] }}">SR#{{ sr[1] }}</a> -->
            <td a href="{{ url_for('sr_page', sr_id='')}}{{ sr[1] }}">SR#{{ sr.number }}</td>
            <td>{{ sr.subject }}</td>
            <td>{{ sr.status }}</td>
            <td>{{ sr.substatus }}</td>
            <td>{{ sr.idle }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}