<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">

    <title>Global Support Tool</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href='/redirects'> Global Support Tool </a>
        <ul class="navbar-nav">
            <li class="nav-item-active">
                <a class="nav-link" href="#"> SR view </a>
                <a class="nav-link" href="#"> Template</a>
                <a class="nav-link" href="#"> Problem List </a>
            </li>
        </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>

</html>